
@*@using WebApp.Infrastructure;

@{ 
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginRouteForm("Users"))
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    Login
                </th>
                <th>
                    Email
                </th>
                <th></th>
                <th></th>
                <th>
                    Roles
                </th>
            </tr>

        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.mvcLogins.Count(); i++)
            {
                <tr>
                    <td>
                        @ViewBag.mvcLogins[i].Id
                    </td>
                    <td>
                        @ViewBag.mvcLogins[i].Login
                    </td>
 
                    <td>
                        <select multiple class="selectpicker">

                            @for (int j = 0; j < ViewBag.Roles.Length; j++)
                            {
                                if (Model.Entities[i].Roles.Contains(ViewBag.Roles[j]))
                                {
                                    <option selected name="optionName">@ViewBag.Roles[j]</option>
                                }
                                else
                                {
                                    <option name="optionName">@ViewBag.Roles[j]</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        @Html.RouteLink("Remove", "RemoveUser")
                    </td>
                </tr>
                            }
        </tbody>
    </table>
    <br />
    <div class="form-group">
        <input type="submit" value="Save" />
    </div>

@Scripts.Render("~/bundles/jquery")
@section scripts{
    <link rel="stylesheet" href="~/Content/bootstrap-select.css">
    <script src="~/Scripts/bootstrap-select.js"></script>
}*@ 